.title {
    background-color: #428bca;
    color: #fff;
    font-size: 20px;
}

.segmented-control.home {
    margin-bottom: 16px;
}

.card.home {
    border: none;
    padding: 2px;
    margin: -2px;
}
 .messageicon {
     float: right;
     margin: 0px 8px;
 }
