{% extends "base.html" %}

{% block content %}
    <div class="content-padded">
        <form action="{% url 'restaurants:edit' pk=restaurant.pk %}" method="POST">
            {% csrf_token %}
            <label class="btn btn-positive btn-block btn-outlined">{{ restaurant.name }}</label>
            <input type="text" name="phone_number" placeholder="Phone Number" {% if restaurant.phone_number %}value="{{ restaurant.phone_number }}"{% endif %}>
            <input type="text" name="address" placeholder="Address" {% if restaurant.address %}value="{{ restaurant.address }}"{% endif %}>
            <input type="text" name="menu" placeholder="Menu" {% if restaurant.menu %}value="{{ restaurant.menu }}"{% endif %}>
            <input type="text" name="logo" placeholder="Logo" {% if restaurant.logo %}value="{{ restaurant.logo }}"{% endif %}>
            <button class="btn btn-positive btn-block">Save</button>
            <a href="{% url 'restaurants:index' %}" class="btn btn-negative btn-block">Cancel</a>
            <a href="{% url 'restaurants:delete' pk=restaurant.pk %}" class="btn btn-negative btn-block btn-outlined">Delete</a>
        </form>
    </div>
{% endblock %}
